# Application
PORT=3000

# Database (PostgreSQL)
DB_HOST=
DB_PORT=
DB_USER=avnadmin
DB_USERNAME=avnadmin
DB_PASSWORD=
DB_NAME=

# Database SSL (true/false - требуется для облачных БД вроде Aiven)
DB_SSL=false
